<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            My Bookings
        </div>
        <div class="panel-body">
            <span ng-show="MyBookings.bookings.length == 0">
                No bookings associated with this account.
                <br />
                <a href="#/events">
                    Check out some of the available events to get started.
                </a>
            </span>
            <div class="panel panel-default" ng-repeat="booking in MyBookings.bookings">
                <div class="panel-heading" >
                    <b>{{booking.EVENT.TITLE}} - {{booking.RUN.RUN_DATE | date: 'MMM d, y - h:mm a'}}</b>
                </div>
                <div class="panel-body row">
                    <div class="col-md-3">
                        <address>
                            <br />
                            <strong>
                                {{booking.RUN.VENUE.NAME}}
                            </strong>
                            <br />
                            {{booking.RUN.VENUE.ADDRESS_LINE_1}}
                            <br />
                            {{booking.RUN.VENUE.ADDRESS_LINE_2}}
                            <br ng-show="booking.RUN.VENUE.ADDRESS_LINE_2 != null" />
                            {{booking.RUN.VENUE.CITY}}
                            <br />
                            {{booking.RUN.VENUE.COUNTY}}
                            <br />
                            {{booking.RUN.VENUE.POSTCODE}}
                            <br />
                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <br />
                            <strong>
                                {{booking.RUN.RUN_DATE | date: 'MMM d, y - h:mm a'}}
                            </strong>
                            <br />
                            {{booking.RUN.DURATION}} minutes
                            <br />
                        </address>
                    </div>
                    <div class="col-md-6">
                        <address>
                            <br />
                            <strong>
                                Associated Tickets
                            </strong>
                        </address>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="ticket in booking.TICKETS">
                                {{ticket.TIER.TIER_NAME}} - {{ticket.TIER.SEATED == "Y" ? "Row " + ticket.TIER.SEAT_ROWS + ", Column " + ticket.TIER.SEAT_COLUMNS : "Standing"}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
