<div class="row">
    <div class="col-md-4">
        <img ng-src="{{CheckoutForm.event.IMAGE}}" class="img-responsive" />
    </div>
    <div class="col-md-8">
        <h3 class="text-center">
            {{CheckoutForm.event.TITLE}}
            <span class="label label-info" ng-bind="CheckoutForm.event.TYPE.NAME">
            </span>
        </h3>
        <p ng-bind="CheckoutForm.event.DESCRIPTION" class="text-center">
        </p>
        <div class="panel panel-default">
            <div class="panel-heading">
                Overview
            </div>
            <div class="panel-body">
                <p class="text-center">
                    You are purchasing
                    <b ng-bind="CheckoutForm.data.quantity">
                    </b>
                    tickets for
                    <b>
                        {{CheckoutForm.event.TITLE}}
                    </b>
                    at
                    <b>
                        {{CheckoutForm.run.RUN_DATE | date: 'MMM d, y - h:mm a'}}.
                    </b>
                    <br />
                    At
                    <b>
                        {{CheckoutForm.price.PRICE1 | currency:'£'}}
                    </b>
                    per ticket, that's {{CheckoutForm.data.quantity}} x {{CheckoutForm.price.PRICE1 | currency:'£'}} =
                    <b>
                        {{(CheckoutForm.data.totalCost) | currency:'£'}}
                    </b>
                    .
                </p>
            </div>
        </div>
        <div class="panel panel-default" ng-show="CheckoutForm.stage == 0">
            <div class="panel-heading">
                Payment Information
            </div>
            <div class="panel-body">
                <input type="checkbox" ng-model="CheckoutForm.savedPaymentDetails" tabindex="1" />
                Use saved payment details
                <br />
                <br />
                <form id="checkoutForm" uib-collapse="CheckoutForm.savedPaymentDetails">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                Card Details
                            </h4>
                            <div class="form-group">
                                <label>
                                    Cardholder Name
                                </label>
                                <input type="text" class="form-control" placeholder="Cardholder Name" tabindex="1" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Card Number
                                </label>
                                <input type="text" class="form-control" id="card-num" placeholder="Card Number" tabindex="2" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Card Type
                                </label>
                                <select class="form-control" tabindex="3" >
                                    <option disabled selected hidden class="text-hide">
                                        Card Type
                                    </option>
                                    e
                                    <option>
                                        VISA
                                    </option>
                                    <option>
                                        VISA Electron
                                    </option>
                                    <option>
                                        Maestro
                                    </option>
                                    <option>
                                        Mastercard
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    Expiry Date
                                </label>
                                <input type="date" class="form-control" tabindex="4"  />
                            </div>
                            <div class="form-group">
                                <label>
                                    CVC
                                </label>
                                <input type="text" class="form-control" id="card-cvc" placeholder="Security Code" tabindex="5" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>
                                Billing Address
                            </h4>
                            <div class="form-group">
                                <label>
                                    Address Line 1
                                </label>
                                <input type="text" class="form-control" placeholder="Address Line 1" tabindex="6" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Address Line 2
                                </label>
                                <input type="text" class="form-control" placeholder="(Optional)" tabindex="7" />
                            </div>
                            <div class="form-group">
                                <label>
                                    City
                                </label>
                                <input type="text" class="form-control" placeholder="City" tabindex="8" />
                            </div>
                            <div class="form-group">
                                <label>
                                    County
                                </label>
                                <input type="text" class="form-control" placeholder="County" tabindex="9" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Post Code
                                </label>
                                <input type="text" class="form-control" placeholder="Post Code" tabindex="10" />
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <a class="btn btn-default btn-lg" ng-click="CheckoutForm.submit()" tabindex="11" >
                    Create Booking
                </a>
            </div>
        </div>
        <div class="panel panel-default" ng-show="CheckoutForm.stage == 1">
            <div class="panel-heading text-success">
                Success!
            </div>
            <div class="panel-body text-center">
                Your booking has been made, and your tickets have been emailed to you.
            </div>
        </div>
        <div class="panel panel-default" ng-show="CheckoutForm.stage == 2">
            <div class="panel-heading text-warning">
                Error!
            </div>
            <div class="panel-body text-center">
                There are not enough tickets to make that booking. Please select another event, or purchase less tickets.
            </div>
        </div>
    </div>
