<div class="jumbotron">
    <div class="row">
        <div class="form-group form-group-lg">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon">
                        Event Type
                    </div>
                    <select ng-model="EventsListController.filter.TYPE.ID" class="form-control" tabindex="3" >
                        <option value="">
                            Any
                        </option>
                        <option ng-repeat="option in EventsListController.eventTypes" ng-value="{{option.ID}}">
                            {{option.NAME}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="EventsListController.filter.TITLE" placeholder="Search Events" tabindex="1" />
                    <i class="input-group-addon glyphicon glyphicon-search" style="top: 0;">
                    </i>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive text-center">
        <table class="table table-striped table-bordered text-left">
            <tr>
                <th>
                </th>
                <th>
                    Description
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                </th>
            </tr>
            <tr ng-repeat="event in EventsListController.filteredData = (EventsListController.list | filter:EventsListController.filter) | offset:(EventsListController.page -1) * EventsListController.perPage | limitTo: EventsListController.perPage" class="event-row">
                <td class="event-image-container">
                    <img ng-src="{{event.IMAGE}}" class="img-responsive"/>
                </td>
                <td class="col-md-8">
                    <h4>
                        <a ng-href="#/event/{{event.ID}}">
                            <span class="badge">
                                {{event.AGE_RATING}}+
                            </span>
                            {{event.TITLE}}
                        </a>
                    </h4>
                    <p>
                        {{event.DESCRIPTION}}
                    </p>
                    <p>
                        <uib-rating ng-model="event.AVG_RATING" max="5" read-only="true">
                        </uib-rating>
                    </p>
                </td>
                <td class="valign">
                    <p ng-show="event.START_DATE != null">
                        {{event.START_DATE | date}}
                    </p>
                    <p ng-show="event.START_DATE == null">
                        No runs available.
                    </p>
                </td>
                <td class="valign">
                    <p ng-show="event.END_DATE != null">
                        {{event.END_DATE | date}}
                    </p>
                    <p ng-show="event.END_DATE == null">
                        No runs available.
                    </p>
                </td>
                <td class="valign">
                    <p>
                        <a ng-href="{{event.START_DATE == null ? '' : '#/event/'+event.ID}}" class="btn btn-small btn-default btn-block" ng-disabled="event.START_DATE == null">
                            Book
                            <span class="glyphicon glyphicon-shopping-cart">
                            </span>
                        </a>
                    </p>
                </td>
            </tr>
        </table>
        <uib-pagination total-items="EventsListController.filteredData.length" ng-model="EventsListController.page" max-size="8" class="pagination" boundary-link-numbers="true" rotate="true" items-per-page="EventsListController.perPage">
        </uib-pagination>
    </div>
</div>
