<div class="row">
    <div class="col-md-4">
        <img ng-src="{{EventDetailForm.event.IMAGE}}" class="img-responsive" />
    </div>
    <div class="col-md-8">
        <h3 class="text-center">
            {{EventDetailForm.event.TITLE}}
            <span class="label label-info" ng-bind="EventDetailForm.event.TYPE.NAME">
            </span>
        </h3>
        <p ng-bind="EventDetailForm.event.DESCRIPTION" class="text-center">
        </p>
        <uib-accordion close-others="true">
            <uib-accordion-group ng-repeat="run in EventDetailForm.event.RUNS track by $index" is-open="$first">
                <uib-accordion-heading>
                    {{run.RUN_DATE | date: 'MMM d, y - h:mm a'}}
                    <span class="pull-right">
                        {{run.DURATION}} minutes
                    </span>
                </uib-accordion-heading>
                <h4>
                    Featuring
                </h4>
                <div class="list-group" ng-repeat="performance in run.PERFORMANCES track by $index">
                    <div class="list-group-item">
                        <h5 class="list-group-item-heading">
                            {{performance.ACT.TITLE}}
                            <span class="pull-right">
                                {{performance.ACT.TYPE.NAME}}
                            </span>
                        </h5>
                        <p class="list-group-item-text">
                            {{performance.ACT.DESCRIPTION}}
                        </p>
                    </div>
                </div>
                <h4>
                    Tickets
                </h4>
                <div class="list-group" >
                    <a ng-href="#event/{{EventDetailForm.id}}/{{run.ID}}/{{tier.ID}}" class="list-group-item" ng-repeat="tier in run.PRICES track by $index">
                        {{tier.TIER.TIER_NAME}}
                        <span class="pull-right">
                            {{tier.PRICE1 | currency:'£' }}
                            <span class="glyphicon glyphicon-shopping-cart">
                            </span>
                        </span>
                        <br />
                        {{tier.TIER.SEATED == 'Y' ? "Seated" : "Standing"}}
                    </a>
                </div>
            </uib-accordion-group
        </uib-accordion>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            Reviews
        </div>
        <div class="panel-body">
            <div class="list-group">
                <p ng-repeat="review in EventDetailForm.event.REVIEWS" class="list-group-item">
                    <span class="list-group-item-heading">
                        <uib-rating ng-model="review.USER_RATING" max="5" read-only="true">
                        </uib-rating>
                        {{review.CUSTOMER.FORENAME}} {{review.CUSTOMER.SURNAME}} on {{review.REVIEW_DATE | date}}
                    </span><br />
                    <span class="list-group-item-text" ng-bind="review.USER_COMMENTS">
                    </span>
                </p>
            </div>
            <div class="panel panel-default" ng-show="EventDetailForm.isLoggedIn()">
                <div class="panel-heading">
                    Leave A Review?
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <textarea rows="5" ng-model="EventDetailForm.review.USER_COMMENTS" class="form-control">
                            </textarea>
                        </div>
                        <p class="col-md-4 text-center">
                            <uib-rating ng-model="EventDetailForm.review.USER_RATING" max="5" class="review-rating">
                            </uib-rating>
                            <br />
                            <br />
                            <input type="button" class="btn btn-default btn-lg" ng-click="EventDetailForm.submitReview()" ng-disabled="EventDetailForm.review.USER_RATING == 0" value="Submit Review"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
