<div class="row">
    <div class="col-md-4">
        <img ng-src="{{GuestCheckoutForm.event.IMAGE}}" class="img-responsive" />
    </div>
    <div class="col-md-8">
        <h3 class="text-center">
            {{GuestCheckoutForm.event.TITLE}}
            <span class="label label-info" ng-bind="GuestCheckoutForm.event.TYPE.NAME">
            </span>
        </h3>
        <p ng-bind="GuestCheckoutForm.event.DESCRIPTION" class="text-center">
        </p>
        <div class="panel panel-default">
            <div class="panel-heading">
                Overview
            </div>
            <div class="panel-body">
                <p class="text-center">
                    You are purchasing
                    <b ng-bind="GuestCheckoutForm.data.quantity">
                    </b>
                    tickets for
                    <b>
                        {{GuestCheckoutForm.event.TITLE}}
                    </b>
                    at
                    <b>
                        {{GuestCheckoutForm.run.RUN_DATE | date: 'MMM d, y - h:mm a'}}.
                    </b>
                    <br />
                    At
                    <b>
                        {{GuestCheckoutForm.price.PRICE1 | currency:'£'}}
                    </b>
                    per ticket, that's {{GuestCheckoutForm.data.quantity}} x {{GuestCheckoutForm.price.PRICE1 | currency:'£'}} =
                    <b>
                        {{(GuestCheckoutForm.data.totalCost) | currency:'£'}}
                    </b>
                    .
                </p>
            </div>
        </div>
        <form id="GuestCheckoutForm">
            <div class="panel panel-default" ng-show="GuestCheckoutForm.stage == 0">
                <div class="panel-heading">
                    Customer Information
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                Customer Forename
                            </label>
                            <input type="text" class="form-control" placeholder="Customer Forename" ng-model="GuestCheckoutForm.data.forename" tabindex="1" />
                        </div>
                        <div class="form-group">
                            <label>
                                Customer Surname
                            </label>
                            <input type="text" class="form-control" placeholder="Customer Surname" ng-model="GuestCheckoutForm.data.surname" tabindex="2" />
                        </div>
                        <div class="form-group">
                            <label>
                                Customer Email
                            </label>
                            <input type="text" class="form-control" placeholder="Customer Email" ng-model="GuestCheckoutForm.data.email" tabindex="3" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-show="GuestCheckoutForm.stage == 0">
                <div class="panel-heading">
                    Payment Information
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                Card Details
                            </h4>
                            <div class="form-group">
                                <label>
                                    Cardholder Name
                                </label>
                                <input type="text" class="form-control" placeholder="Cardholder Name" tabindex="4" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Card Number
                                </label>
                                <input type="text" class="form-control" id="card-num" placeholder="Card Number" tabindex="5" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Card Type
                                </label>
                                <select class="form-control" tabindex="6" >
                                    <option disabled selected hidden class="text-hide">
                                        Card Type
                                    </option>
                                    e
                                    <option>
                                        VISA
                                    </option>
                                    <option>
                                        VISA Electron
                                    </option>
                                    <option>
                                        Maestro
                                    </option>
                                    <option>
                                        Mastercard
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    Expiry Date
                                </label>
                                <input type="date" class="form-control"  tabindex="7" />
                            </div>
                            <div class="form-group">
                                <label>
                                    CVC
                                </label>
                                <input type="text" class="form-control" id="card-cvc" placeholder="Security Code" tabindex="8" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>
                                Billing Address
                            </h4>
                            <div class="form-group">
                                <label>
                                    Address Line 1
                                </label>
                                <input type="text" class="form-control" placeholder="Address Line 1" tabindex="9" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Address Line 2
                                </label>
                                <input type="text" class="form-control" placeholder="(Optional)" tabindex="10" />
                            </div>
                            <div class="form-group">
                                <label>
                                    City
                                </label>
                                <input type="text" class="form-control" placeholder="City" tabindex="11" />
                            </div>
                            <div class="form-group">
                                <label>
                                    County
                                </label>
                                <input type="text" class="form-control" placeholder="County" tabindex="12" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Post Code
                                </label>
                                <input type="text" class="form-control" placeholder="Post Code" tabindex="13" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <a class="btn btn-default btn-lg" ng-click="GuestCheckoutForm.submit()"  tabindex="14" >
                        Create Booking
                    </a>
                </div>
            </div>
        </form>
        <div class="panel panel-default" ng-show="GuestCheckoutForm.stage == 1">
            <div class="panel-heading text-success">
                Success!
            </div>
            <div class="panel-body text-center">
                Your booking has been made, and your tickets have been emailed to you.
            </div>
        </div>
        <div class="panel panel-default" ng-show="GuestCheckoutForm.stage == 2">
            <div class="panel-heading text-warning">
                Error!
            </div>
            <div class="panel-body text-center">
                There are not enough tickets to make that booking. Please select another event, or purchase less tickets.
            </div>
        </div>
    </div>
