<div class="jumbotron">
    <h2>
        Upcoming Events
    </h2>
    <div class="events">
        <div class="event-card" ng-repeat="event in HomePageController.list">
            <a ng-href="#event/{{event.ID}}">
                <img ng-src="{{event.IMAGE}}" class="img-responsive"/>
                <h4>
                    {{event.TITLE}}
                </h4>
            </a>
            <p>
                {{event.DESCRIPTION}}
            </p>
        </div>
    </div>
</div>
