<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            Customer Login
        </div>
        <div class="panel-body">
            <div class="row">
                <form id="login-form">
                    <div class="col-md-6 col-md-offset-3">
                        <span class="text-danger" ng-show="LoginForm.login.error">
                            Invalid username or password.
                        </span>
                        <div class="form-group">
                            <label for="email">
                                Email address
                            </label>
                            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="LoginForm.login.email" data-parsley-required tabindex="1"/>
                        </div>
                        <div class="form-group">
                            <label for="password">
                                Password
                            </label>
                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="LoginForm.login.password" data-parsley-required tabindex="2"/>
                        </div>
                        <p class="text-center">
                            <a class="btn btn-default btn-lg" ng-click="LoginForm.loginSubmit()"tabindex="3">
                                Login
                            </a>
                            <a class="btn btn-default btn-lg" href="#register" tabindex="4">
                                Register
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>