<div class="row">
    <form id="register-form">
        <div class="panel panel-default">
            <div class="panel-heading">
                Customer Details
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Forename
                            </label>
                            <input type="text" class="form-control" placeholder="Forename" ng-model="RegisterForm.data.FORENAME" data-parsley-required tabindex="1"/>
                        </div>
                        <div class="form-group">
                            <label>
                                Surname
                            </label>
                            <input type="text" class="form-control" placeholder="Surname" ng-model="RegisterForm.data.SURNAME" data-parsley-required tabindex="2"/>
                        </div>
                        <div class="form-group">
                            <label>
                                Email Address
                            </label>
                            <input type="email" class="form-control" placeholder="Email Address" ng-model="RegisterForm.data.EMAIL" data-parsley-required tabindex="3"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Phone Number
                            </label>
                            <input type="text" class="form-control" placeholder="Phone Number" ng-model="RegisterForm.data.HOME_PHONE" data-parsley-required tabindex="4"/>
                        </div>
                        <div class="form-group">
                            <label>
                                Password
                            </label>
                            <input type="password" class="form-control" id="pw-field" placeholder="Password" ng-model="RegisterForm.data.PASSWORD_HASH" data-parsley-required tabindex="5"/>
                        </div>
                        <div class="form-group">
                            <label>
                                Confirm Password
                            </label>
                            <input type="password" class="form-control" placeholder="Confirm Password" data-parsley-required data-parsley-equalto="#pw-field" tabindex="6"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Payment Details
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            Card Details
                        </h4>
                        <div class="form-group">
                            <label>
                                Cardholder Name
                            </label>
                            <input type="text" class="form-control" placeholder="Cardholder Name" tabindex="6" ng-model="RegisterForm.card_name()" readonly data-parsley-required/>
                        </div>
                        <div class="form-group">
                            <label>
                                Card Number
                            </label>
                            <input type="text" class="form-control" id="card-num" placeholder="Card Number" tabindex="7" ng-model="RegisterForm.data.CARD_NUMBER" data-parsley-required/>
                        </div>
                        <div class="form-group">
                            <label>
                                Card Type
                            </label>
                            <select class="form-control" tabindex="8" ng-model="RegisterForm.data.CARD_TYPE" data-parsley-required>
                                <option value="" disabled selected hidden>
                                    Card Type
                                </option>
                                <option value="VISA">
                                    VISA
                                </option>
                                <option value="VISA Electron">
                                    VISA Electron
                                </option>
                                <option value="American Express">
                                    American Express
                                </option>
                                <option value="Maestro">
                                    Maestro
                                </option>
                                <option value="Mastercard">
                                    Mastercard
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>
                                Expiry Date
                            </label>
                            <input type="date" class="form-control" tabindex="9" ng-model="RegisterForm.data.EXPIRY_DATE" data-parsley-required/>
                        </div>
                        <div class="form-group">
                            <label>
                                CVC
                            </label>
                            <input type="text" class="form-control" id="card-cvc" placeholder="Security Code" tabindex="10" ng-model="RegisterForm.data.SECURITY_CODE" data-parsley-required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            Billing Address
                        </h4>
                        <div class="form-group">
                            <label>
                                Address Line 1
                            </label>
                            <input type="text" class="form-control" placeholder="Address Line 1" tabindex="11" ng-model="RegisterForm.data.ADDRESS_LINE_1" data-parsley-required/>
                        </div>
                        <div class="form-group">
                            <label>
                                Address Line 2
                            </label>
                            <input type="text" class="form-control" placeholder="(Optional)" tabindex="12" ng-model="RegisterForm.data.ADDRESS_LINE_2"/>
                        </div>
                        <div class="form-group">
                            <label>
                                City
                            </label>
                            <input type="text" class="form-control" placeholder="City" tabindex="13" ng-model="RegisterForm.data.CITY" data-parsley-required/>
                        </div>
                        <div class="form-group">
                            <label>
                                County
                            </label>
                            <input type="text" class="form-control" placeholder="County" tabindex="14" ng-model="RegisterForm.data.COUNTY" data-parsley-required/>
                        </div>
                        <div class="form-group">
                            <label>
                                Post Code
                            </label>
                            <input type="text" class="form-control" placeholder="Post Code" tabindex="15" ng-model="RegisterForm.data.POSTCODE" data-parsley-required/>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center">
                <a class="btn btn-default btn-lg" ng-click="RegisterForm.registerSubmit()"tabindex="16">
                    Register
                </a>
            </p>
        </div>
    </div>
</form>
</div>
