<div class="row">
    <div class="col-md-4">
        <img ng-src="{{TicketSelectForm.event.IMAGE}}" class="img-responsive" />
    </div>
    <div class="col-md-8">
        <h3 class="text-center">
            {{TicketSelectForm.event.TITLE}}
            <span class="label label-info" ng-bind="TicketSelectForm.event.TYPE.NAME">
            </span>
        </h3>
        <p ng-bind="TicketSelectForm.event.DESCRIPTION" class="text-center">
        </p>
        <div class="panel panel-default">
            <div class="panel-heading">
                Quantity (minimum 1)
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <span class="text-danger" id="quantity-error" ng-show="TicketSelectForm.quantity_error">
                            Minimum ticket purchase is 1.
                        </span>
                        <div class="input-group input-group-lg">
                            <input type="number" class="form-control" id="quantity" placeholder="0" step="1" min="1" tabindex="1" ng-model="TicketSelectForm.quantity" tabindex="1"/>
                            <span class="input-group-addon">
                                Tickets
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <strong>
                                    {{TicketSelectForm.event.TITLE}}
                                </strong>
                                <br />
                                {{TicketSelectForm.run.RUN_DATE | date: 'MMM d, y - h:mm a'}}
                            </div>
                            <div class="col-md-6">
                                <address>
                                    <br />
                                    <strong>
                                        {{TicketSelectForm.run.VENUE.NAME}}
                                    </strong>
                                    <br />
                                    {{TicketSelectForm.run.VENUE.ADDRESS_LINE_1}}
                                    <br />
                                    {{TicketSelectForm.run.VENUE.ADDRESS_LINE_2}}
                                    <br ng-show="TicketSelectForm.run.VENUE.ADDRESS_LINE_2 != null" />
                                    {{TicketSelectForm.run.VENUE.CITY}}
                                    <br />
                                    {{TicketSelectForm.run.VENUE.COUNTY}}
                                    <br />
                                    {{TicketSelectForm.run.VENUE.POSTCODE}}
                                    <br />
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Checkout
            </div>
            <div class="panel-body">
                <div class="row">
                    <form id="login-form">
                        <div class="col-md-6 col-md-offset-3"  ng-show="!TicketSelectForm.isLoggedIn()">
                            <span class="text-danger" ng-show="TicketSelectForm.login.error">
                                Invalid username or password.
                            </span>
                            <div class="form-group">
                                <label for="email">
                                    Email address
                                </label>
                                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="TicketSelectForm.login.email" data-parsley-required tabindex="2"/>
                            </div>
                            <div class="form-group">
                                <label for="password">
                                    Password
                                </label>
                                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="TicketSelectForm.login.password" data-parsley-required tabindex="3"/>
                            </div>
                            <p class="text-center">
                                <a class="btn btn-default btn-lg" ng-click="TicketSelectForm.loginCheckout()"tabindex="4">
                                    Login
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6 col-md-offset-3"  ng-show="TicketSelectForm.isLoggedIn()">
                            <p class="text-center">
                                <a class="btn btn-default btn-lg" ng-click="TicketSelectForm.checkout()"tabindex="4">
                                    Checkout as {{TicketSelectForm.customer.FORENAME}}
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <p>
                            <br />
                            or
                            <br />
                            <br/>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <a class="btn btn-default btn-lg" ng-click="TicketSelectForm.guestCheckout()" tabindex="5">
                            Checkout as Guest
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
