.container-fluid {
  max-width: 80%; }

nav .container-fluid {
  padding-left: 25px;
  padding-right: 25px; }

h3 .label {
  position: relative;
  top: -3.5px; }

.duration.label {
  width: 65px; }

.review-rating .glyphicon {
  transform: scale(2);
  margin: 8px; }

.event-card {
  border: 1px solid #1c1c1c;
  overflow: hidden;
  padding: 0;
  border-radius: 25px;
  text-align: center;
  flex-grow: 0;
  flex-basis: auto;
  width: 230px;
  margin: 20px auto 20px auto; }
  .event-card h4, .event-card p {
    text-align: center; }
  .event-card p {
    font-size: 14px;
    height: 120px;
    padding: 10px;
    width: 230px; }
  .event-card img {
    border-bottom: 1px solid #1c1c1c;
    height: 295px;
    width: 100%;
    margin: auto; }

.events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: width-around;
  align-items: center; }

.event-row td.event-image-container {
  width: 100px;
  text-align: center; }
  .event-row td.event-image-container img {
    height: 100px;
    margin: auto; }

.event-row td p {
  font-size: 14px; }

td.valign p {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.jumbotron.small-top-padding {
  padding-top: 10px; }

#loading-bar-spinner {
  top: 15px !important;
  left: 15px !important; }

#loading-bar-spinner .spinner-icon {
  filter: scale(2);
  border-top-color: #fff;
  border-left-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 30px; }

#loading-bar {
  display: none; }
